/* Universal */
* {
    font-family: 'Nunito', sans-serif;
}
body {
    background: linear-gradient(to right, #FDC830, rgb(235, 95, 25));
}
/* Main */


#mainWrapper {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#empty {
    width: 90px;
}
/* Left */
#left {
    width: 400px;
    margin-top: 10%;
    /* align-content: center; */
    text-align: center;
}

#will {
    width: 200px;
    border-radius: 50%;
}
#name {
    font-weight: bolder;
    font-size: 20px
}

/* Right */
#right {
    width: 400px;
    margin-top: 17%;
    text-align: center;
}
#mainHeader {
    font-weight: bold;
    font-size: 25px;
}
#mainSubHeader {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 40px;
}
#mainIntro {
    border-left: 1px solid black;
    padding-left: 20px;
}

/* Tech */
#techWrapper {
    margin-top: 70px;
}
#techHeader {
    margin: 0;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
#techImages {
    text-align: center;
}
.techImage {
    width: 80px;
    padding: 20px;
    align-items: center;
    transition: transform .2s;
    vertical-align: middle;
}
.techImage:hover {
    transform: scale(1.5);
}

/* Projects && Blog */
#proWrapper {
    margin-top: 70px;
}
#proHeader {
    font-size: 30px;
    margin: 0;
    font-weight: bolder;
    text-align: center;
}
#projects {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project {    
    margin: 50px; 
    padding: 5px;
    transition: transform .2s;
}
.project:hover {
    transform: scale(1.05);
}
.projectImage {
    width: 300px;
    border-radius: 5px;
}
.projectName {
    font-weight: bolder;
    font-size: 25px;
    margin: 0;
}
.projectDesc {
    padding-left: 10px;
    border-left: 1px solid black;
}
.buttonswrapper {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.live {
    background-color: green;
    padding-left: 100%;
    padding-right: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.fork {
    background-color: green;
    padding-left: 100%;
    padding-right: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Nav */
#linkswrapper {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.links {
    margin-right: 80px;
}

